/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: {$meta.lane ? "${params.outdir}/${meta.id}/${meta.lane}/fastqc" : "${params.outdir}/${meta.id}/fastqc"},
            pattern: "*{.html,.zip}",
            mode: params.publish_dir_mode
        ]
    }
    withName: FASTP {
        publishDir = [
            path: {$meta.lane ? "${params.outdir}/${meta.id}/${meta.lane}/fastp" : "${params.outdir}/${meta.id}/fastp"},
            pattern: "*{.html,.json,.log}",
            mode: params.publish_dir_mode
        ]
    }
    withName: NANOPLOT {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/nanoplot"},
            pattern: "*{.html,.png,.log,.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: MOSDEPTH {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/mosdepth"},
            pattern: "*{.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: PICARD_COLLECTMULTIPLEMETRICS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/picard"},
            pattern: "*{.pdf,.*_metrics,.}",
            mode: params.publish_dir_mode
        ]
    }
    withName: BCFTOOLS_STATS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/bcftools"},
            pattern: "*{.txt}",
            mode: params.publish_dir_mode
        ]
    }
    withName: SAMTOOLS_STATS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/samtools"},
            pattern: "*{.stats}",
            mode: params.publish_dir_mode
        ]
    }
    withName: RSEQC_BAMSTATS {
        publishDir = [
            path: {"${params.outdir}/${meta.id}/samtools"},
            pattern: "*{.stats}",
            mode: params.publish_dir_mode
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
